# dependencies
node_modules
.pnp
.pnp.js

# builds
.next
dist
build
.expo

# env files
.env
.env.local
.env.*.local

# turbo
.turbo

# OS
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo
*.orig.*
web-build/

supabase*

